* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(./image-article/video-game-play-station-controller-background-gadgets-seamless-pattern-207362040.jpg);

    height: 100vh;
}

nav {
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: darkgrey;
}

h1 {
    margin-bottom: 30px;

}

.container {
    display: flex;
    justify-content: space-evenly;
}

.boxed {
    box-sizing: border-box;
}

main {
    width: 100%;
    padding: 1.5em;
}

article {
    padding: .5em;
    background-color: white;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

article:hover {
    box-shadow: 0px 0px 15px rgba(0, 33, 134, 0.1);
}

.imageContainer {
    width: 75%;
}

article img {
    display: block;
    object-fit: cover;
    width: 100%;

}

article>div>button {
    background-color: #334C80;
    border: none;
    padding: 3px 10px;
    color: white;
}



.img2 {
    display: inline-block;
    background: blue;
    width: 25%;
    height: 100%;
}

.addCart {
    margin-top: auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


#grilleArticle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    row-gap: 2em;
    column-gap: 2em;
}

aside {
    background-color: whitesmoke;
    margin-top: 1.5em;
    padding: 1em;
    width: 35%;
    display: flex;
    flex-direction: column;
    ;
    align-items: center;
    border-left: 1px solid black;
}

aside>h2 {
    margin-bottom: 1em;
}

#cartDisplay {
    width: 100%;
    align-self: flex-start;
    list-style-type: none;
}

#cartDisplay li {
    padding: 1em 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
}

#cartDisplay li>button {
    padding: 0 2px;
    background: none;
    border: none;
}

.quantityContainer {
    display: flex;
}

.quantityContainer button {
    width: 15px;
}

aside>p {
    margin-top: 15px;
    align-self: flex-end;
}

aside>button {
    margin-top: 2em;
    width: 70%;
    background-color: hsl(221, 43%, 35%);
    color: white;
    padding: 5px 8px;
}

.thumbnailContainer {
    height: 100px;
    width: 80px;

}

.thumbnailContainer img {
    display: block;
    overflow: hidden;
    height: 100%;
}